body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }

  .logo-icon {
    height: 50px; /* Adjust as needed */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  .hero {
    height: 300px; /* Adjust as needed */
    background-color: #ccc; /* Adjust as needed */
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }